{% extends "bootstrap/base.html" %}

{% block title %}Web MNIST{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Web MNIST</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Halo</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Panel title</h3>
                    </div>
                    <div class="panel-body text-center">
                        <canvas id="canvas" width="280" height="280" style="border:1px solid #000000;"></canvas>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Panel title</h3>
                    </div>
                    <div class="panel-body text-center">
                        <canvas id="predictionCanvas" width="280" height="280" style="border:1px solid #000000;"></canvas>
                    </div>
                  </div>
            </div>
        </div>

        <div>
            <button id="evalButton" class="btn btn-lg btn-block btn-success"><b>Evaluate</b></button>
            <button id="clearButton" class="btn btn-lg btn-block btn-default">Clear</button>
        </div>

    </div>

    <script src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='canvas_handler.js') }}"></script>
    <script src="{{ url_for('static', filename='eval_handler.js') }}"></script>
{% endblock content %}