<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Web MNIST
    </title>
</head>

<body>
    <h1>Halo</h1>
    <canvas id="canvas" width="280" height="280" style="border:1px solid #000000;"></canvas>
    <button id="clearButton">Clear</button>
    <button id="evalButton">Evaluate</button>
    <h1 id="prediction"></h1>

    <script src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='canvas_handler.js') }}"></script>
    <script src="{{ url_for('static', filename='eval_handler.js') }}"></script>
</body>

</html>
